In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("test-file.csv", header=None)

In [3]:
data.head()

                                  0   1
0  2022-03-28T09:53:31.340103+02:00 -45
1  2022-03-28T09:53:31.340469+02:00 -25
2  2022-03-28T09:53:31.340849+02:00   0
3  2022-03-28T09:53:31.341094+02:00  24
4  2022-03-28T09:53:31.341326+02:00  32

In [4]:
data.columns

Index([0, 1], dtype='int64')

In [5]:
# Give the name "timestamp" to the first column
data.columns = data.columns = ["timestamp", "signal"]

In [6]:
data.head()

                          timestamp  signal
0  2022-03-28T09:53:31.340103+02:00     -45
1  2022-03-28T09:53:31.340469+02:00     -25
2  2022-03-28T09:53:31.340849+02:00       0
3  2022-03-28T09:53:31.341094+02:00      24
4  2022-03-28T09:53:31.341326+02:00      32

In [7]:
data.to_csv("learning-file_2.csv", index=False)